backend/node-red-mes-flow-simple.json
[
    {
        "id": "mes-simple-flow",
        "type": "tab",
        "label": "MES Simple Update Flow",
        "disabled": false,
        "info": "Simple flow to update machine D-01 via API\n\nUses hardcoded JWT token - just import and deploy!"
    },
    {
        "id": "inject-trigger",
        "type": "inject",
        "z": "mes-simple-flow",
        "name": "Trigger Update",
        "props": [{"p": "payload"}],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 200,
        "wires": [["function-generate-data"]]
    },
    {
        "id": "function-generate-data",
        "type": "function",
        "z": "mes-simple-flow",
        "name": "Random D-01 Data",
        "func": "// Hardcoded JWT Token\nconst token = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Im5vZGVyZWQiLCJyb2xlIjoic3lzdGVtIiwiaWF0IjoxNzY2MzY4ODk2LCJleHAiOjE3NjY0NTUyOTZ9.7kzVowdCJmpGvmFVZPwBq7hs6D2YHlRDILUpbQpYHtU\";\n\n// Random status\nconst statuses = [\"running\", \"idle\", \"warning\", \"error\"];\n// Or only running:\n// const statuses = [\"running\"];\n\nfunction randomStatus() {\n    return statuses[Math.floor(Math.random() * statuses.length)];\n}\n\n// Random number generators\nfunction randomInt(min, max) { \n    return Math.floor(Math.random() * (max - min + 1)) + min; \n}\n\nfunction randomFloat(min, max) { \n    return parseFloat((Math.random() * (max - min) + min).toFixed(2)); \n}\n\n// Generate random machine data for D-01\nmsg.payload = {\n    status: randomStatus(),\n    lineSpeed: randomInt(800, 1000),\n    current: randomFloat(40, 50),\n    power: randomFloat(60, 80),\n    temperature: randomFloat(65, 75),\n    healthScore: randomInt(85, 100),\n    vibrationLevel: \"Normal\",\n    runtimeHours: randomFloat(150, 200)\n};\n\n// Set headers with JWT token\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + token,\n    \"Content-Type\": \"application/json\"\n};\n\n// Set HTTP method and URL\n// Note: API uses machine NAME \"Drawing Line 01\" (not ID \"D-01\")\nmsg.method = \"PUT\";\nmsg.url = \"http://localhost:3001/api/machines/name/Drawing Line 01\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 200,
        "wires": [["http-update"]]
    },
    {
        "id": "http-update",
        "type": "http request",
        "z": "mes-simple-flow",
        "name": "Call API Update D-01",
        "method": "use",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 980,
        "y": 200,
        "wires": [["debug-response"]]
    },
    {
        "id": "debug-response",
        "type": "debug",
        "z": "mes-simple-flow",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "inject-repeat",
        "type": "inject",
        "z": "mes-simple-flow",
        "name": "Every 5s",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 280,
        "wires": [["function-generate-data"]]
    }
]
