backend/node-red-mes-flow.json
[
  {
    "id": "mes-machine-updates",
    "type": "tab",
    "label": "MES Machine Updates via REST API",
    "disabled": false,
    "info": "Simulates industrial PLC data and sends to MES Backend via REST API\n\nArchitecture:\nPLC/OPC UA → Node-RED → MES REST API → Backend → PostgreSQL → WebSocket → Frontend\n\nThis flow:\n1. Generates/simulates machine data\n2. Logs in to MES to get JWT token\n3. Updates machines via REST API (PUT /api/machines/name/:machineName)\n4. Backend broadcasts updates via WebSocket to frontend"
  },
  {
    "id": "inject-machine-data",
    "type": "inject",
    "z": "mes-machine-updates",
    "name": "Every 60s",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [["generate-machine-data"]]
  },
  {
    "id": "generate-machine-data",
    "type": "function",
    "z": "mes-machine-updates",
    "name": "Generate Machine Data",
    "func": "// Simulate real-time machine data from PLC/OPC UA\nconst machines = ['D-01', 'D-02', 'D-03', 'S-01', 'S-02', 'SH-01', 'SH-02'];\nconst machineName = machines[Math.floor(Math.random() * machines.length)];\n\n// Base values for each machine (realistic industrial values)\nconst baseValues = {\n  'D-01': { \n    speed: 920, current: 45.2, power: 68.5, temp: 68, \n    health: 95, vibration: 'Normal', runtime: 160.5, status: 'running'\n  },\n  'D-02': { \n    speed: 875, current: 43.8, power: 65.2, temp: 72, \n    health: 92, vibration: 'Normal', runtime: 205.3, status: 'running'\n  },\n  'D-03': { \n    speed: 885, current: 44.1, power: 66.8, temp: 70, \n    health: 88, vibration: 'Normal', runtime: 180.2, status: 'idle'\n  },\n  'S-01': { \n    speed: 650, current: 38.5, power: 52.3, temp: 65, \n    health: 90, vibration: 'Normal', runtime: 145.8, status: 'running'\n  },\n  'S-02': { \n    speed: 680, current: 40.2, power: 54.8, temp: 68, \n    health: 75, vibration: 'Elevated', runtime: 220.1, status: 'warning'\n  },\n  'SH-01': { \n    speed: 450, current: 52.3, power: 78.5, temp: 70, \n    health: 85, vibration: 'Normal', runtime: 195.6, status: 'running'\n  },\n  'SH-02': { \n    speed: 425, current: 50.8, power: 76.2, temp: 68, \n    health: 82, vibration: 'Normal', runtime: 175.4, status: 'idle'\n  },\n};\n\nconst base = baseValues[machineName] || { \n  speed: 800, current: 40, power: 60, temp: 65, \n  health: 90, vibration: 'Normal', runtime: 150, status: 'running'\n};\n\n// Generate realistic variations (±5%)\nconst variations = {\n  speed: Math.max(0, Math.round(base.speed + (Math.random() - 0.5) * base.speed * 0.05)),\n  current: parseFloat((base.current + (Math.random() - 0.5) * 2).toFixed(1)),\n  power: parseFloat((base.power + (Math.random() - 0.5) * 3).toFixed(1)),\n  temperature: Math.round(base.temp + (Math.random() - 0.5) * 3),\n  producedLength: Math.floor(Math.random() * 50) + 3800, // Increment\n  healthScore: Math.max(0, Math.min(100, base.health + (Math.random() - 0.5) * 5)),\n  vibrationLevel: base.vibration,\n  runtimeHours: base.runtime + (Math.random() * 0.1), // Increment slowly\n  status: base.status,\n};\n\n// Store machine name for API call\nmsg.machineName = machineName;\nmsg.payload = variations;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 100,
    "wires": [["login-to-mes"]]
  },
  {
    "id": "login-to-mes",
    "type": "http request",
    "z": "mes-machine-updates",
    "name": "Login to MES",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:3001/api/auth/login",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 540,
    "y": 100,
    "wires": [["extract-token", "handle-login-error"]]
  },
  {
    "id": "extract-token",
    "type": "function",
    "z": "mes-machine-updates",
    "name": "Extract Token",
    "func": "// Extract JWT token from login response\nif (msg.payload && msg.payload.data && msg.payload.data.token) {\n  global.set('mes_token', msg.payload.data.token);\n  msg.token = msg.payload.data.token;\n  node.status({fill:\"green\",shape:\"dot\",text:\"Logged in\"});\n  return msg;\n} else {\n  node.error('Login failed: ' + JSON.stringify(msg.payload));\n  return null;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 100,
    "wires": [["prepare-api-request"]]
  },
  {
    "id": "prepare-api-request",
    "type": "function",
    "z": "mes-machine-updates",
    "name": "Prepare API Request",
    "func": "// Prepare machine update request\nconst token = global.get('mes_token') || msg.token;\nconst machineName = msg.machineName;\nconst data = msg.payload;\n\n// Map to API format\nmsg.url = `http://localhost:3001/api/machines/name/${machineName}`;\nmsg.method = 'PUT';\nmsg.headers = {\n  'Authorization': `Bearer ${token}`,\n  'Content-Type': 'application/json'\n};\n\n// Map field names to API format\nmsg.payload = {\n  status: data.status,\n  lineSpeed: data.speed,\n  current: data.current,\n  power: data.power,\n  powerConsumption: data.power, // Alias\n  temperature: data.temperature,\n  producedLength: data.producedLength,\n  healthScore: data.healthScore,\n  health_score: data.healthScore, // Support both\n  vibrationLevel: data.vibrationLevel,\n  vibration_level: data.vibrationLevel, // Support both\n  runtimeHours: data.runtimeHours,\n  runtime_hours: data.runtimeHours, // Support both\n};\n\nnode.status({fill:\"blue\",shape:\"dot\",text:`Updating ${machineName}`});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 980,
    "y": 100,
    "wires": [["update-machine-api"]]
  },
  {
    "id": "update-machine-api",
    "type": "http request",
    "z": "mes-machine-updates",
    "name": "Update Machine via API",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": {},
    "x": 1200,
    "y": 100,
    "wires": [["handle-api-response", "handle-api-error"]]
  },
  {
    "id": "handle-api-response",
    "type": "function",
    "z": "mes-machine-updates",
    "name": "Handle Response",
    "func": "// Handle successful API response\nif (msg.payload && msg.payload.success) {\n  node.status({fill:\"green\",shape:\"dot\",text:\"Updated \" + msg.machineName});\n  node.log(`✅ Machine ${msg.machineName} updated successfully`);\n  // Frontend will receive update via WebSocket automatically\n} else {\n  node.status({fill:\"yellow\",shape:\"dot\",text:\"Warning\"});\n  node.warn('API response: ' + JSON.stringify(msg.payload));\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "handle-login-error",
    "type": "function",
    "z": "mes-machine-updates",
    "name": "Handle Login Error",
    "func": "node.error('Login failed: ' + JSON.stringify(msg.payload));\nnode.status({fill:\"red\",shape:\"dot\",text:\"Login failed\"});\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "handle-api-error",
    "type": "function",
    "z": "mes-machine-updates",
    "name": "Handle API Error",
    "func": "node.error('API update failed: ' + JSON.stringify(msg.payload));\nnode.status({fill:\"red\",shape:\"dot\",text:\"API error\"});\n// Token might be expired, try to login again\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "inject-login",
    "type": "inject",
    "z": "mes-machine-updates",
    "name": "Manual Login",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"username\":\"nodered\",\"password\":\"nodered123\"}",
    "payloadType": "json",
    "x": 120,
    "y": 220,
    "wires": [["login-to-mes"]]
  }
]

